.ib-dropdown-menu{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 5px 0;
	background-color: #FFF;
	border: 1px solid $border;
	border-radius: 4px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	min-width: 140px;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: all .3s;
	opacity: 0;

	li{
		font-size: 14px;
		cursor: pointer;
		outline: none;
		position: relative;
		min-height: 35px;
		transition: background-color .3s;
		&:hover{
			background-color: $border;
		}
		&.ib-dropdown-menu-line{
			border-top: 1px solid $border;
		}
		.ib-badge{
			margin-left: 5px;
		}
		a{
			display: flex;
			width: 100%;
			min-height: 35px;
			justify-content: left;
			align-items: center;
			padding: 0 15px;
			cursor: pointer;
		}
	}

	&.ib-active{
		padding: 10px 0;
		max-height: 600px;
		opacity: 1;
	}
}